<%= partial "partials/header" %>

<div class="container">

<%= partial "partials/topbar" %> 
<%= partial "partials/nav" %> 

<div class="content">
<%= yield %>
</div>

<%= partial "partials/footer" %>

</div>