<%= partial(:'partials/site/_site-header', :locals => { :currentPage => current_page } ) %>

<div class="container">

    <%= partial 'partials/site/site-topbar' %> 
    <%= partial 'partials/site/site-nav' %> 
    
    <div class="content">
        <% partial 'partials/page/page-header' do %>
            <%= yield_content :pageHeader %>
        <% end %>    
        <%= yield %>
    </div>

    <%#= partial 'partials/site/_site-scrollup' %>

</div>




<%= partial(:'partials/site/_site-footer', :locals => { :currentPage => current_page } ) %>