<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Ozy Wu-Li &ndash; <%= current_page.data.title || "Hello" %></title>


    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100,100italic' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "main" %>

  </head>


<body class="<%= page_classes %>">


      <!--[if lt IE 9]>
          <div class="browser-overlay">
          <h1><a href="/">Ozy Wu-Li</a></h1>
          <p class="browserupgrade">Hey there, it looks like you're using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
          </div>
      <![endif]-->



<div class="container flex" id="top">

<nav class="navbar flex">
  <div class="navbar__col flex">
    <h1 class="title">
      <a href="/" class="title__link flex">

        <div class="logo">
            <%= partial "partials/grid" %>
        </div>

        <span class="title__item">Ozy Wu-Li</span>
      </a>
    </h1>


<!--     <ul class="menu flex">
      <li class="menu__item">
        <%= link_to 'Portfolio', '/portfolio.html', class: 'menu__link menu__link--portfolio' %>
      </li>
      <li class="menu__item">
        <%= link_to 'About', '/about.html', class: 'menu__link menu__link--about' %>
      </li>
      <li class="menu__item">
      <%= link_to 'Blog', '/blog.html', class: 'menu__link menu__link--blog' %>
      </li>
    </ul> -->
  </div>
</nav>

<main class="content flex">
  <section class="content__col">

      <%= yield %>

  <p class="scrolltop-container">
    <a href="#top" class="scrolltop">Scroll Top</a>
  </p>

  </section>



</main>




<footer class="footer flex">
  <div class="footer__col flex">
    <div class="footer__item copyright">
      <a href="/">Ozy Wu-Li</a>
      &copy;
      <time class="copyright-years">2015</time>
    </div>
    <div class="footer__item flex">
      <ul class="social">
        <li class="social__item">
          <a href="https://www.twitter.com/ozy_wuli" class="social__link" target="_blank">
            <%= partial "partials/twitter" %>
          </a>
        </li>
        <li class="social__item">
          <a href="https://www.github.com/ozywuli" class="social__link" target="_blank">
            <%= partial "partials/github" %>
          </a>
        </li>
        <li class="social__item">
          <a href="http://sonofsamnon.tumblr.com" class="social__link" target="_blank">
            <%= partial "partials/tumblr" %>
          </a>
        </li>
        <li class="social__item">
          <a href="mailto:ozywuli@gmail.com" class="social__link" target="_blank">
            <%= partial "partials/email" %>
          </a>
        </li>
      </ul>
  </div>
  </div>
</footer>


</div>







<%= javascript_include_tag  "main" %>


</body>
</html>
