---
title: Index
---

<section class="billboard">
  <h2 class="page-title">Interactive Designer and Developer</h2>
  <p>Hello, my name is Ozy. I seek to help make the web a more useful, accessible, and enjoyable place for all. <a href="portfolio" target="_blank">Check out my work</a>. Currently employed full-time at <a href="http://lamag.com" target="_blank">Los Angeles magazine</a> but open to freelance projects or other collaborative work.</p>
  <p>Follow me on <a href="https://www.twitter.com/ozy_wuli" target="_blank">Twitter</a> or send me an <a href="mailto:ozy.wu.li@gmail.com">email</a>.</p>
</section>


<section class="row portfolio" id="portfolio">
  <h3 class="row__title">Portfolio</h3>

  <ul class="portfolio__list">


    <li class="portfolio__item">
      <a href="http://lab.ozywuli.com/dataviz" target="_blank" class="portfolio__link">Maps</a>
      <a href="" target="_blank" class="portfolio__link--img"><img src="http://placehold.it/700x100" alt="" class="portfolio__img"></a>
    </li>
    <li class="portfolio__item">
      <a href="http://lab.ozywuli.com/dataviz" target="_blank" class="portfolio__link">DataViz</a>
      <a href="" target="_blank" class="portfolio__link--img"><img src="http://placehold.it/700x100" alt="" class="portfolio__img"></a>
    </li>
    <li class="portfolio__item">
      <a href="http://lab.ozywuli.com/yunshu" target="_blank" class="portfolio__link">Yunshu</a>
      <a href="" target="_blank" class="portfolio__link--img"><img src="http://placehold.it/700x100" alt="" class="portfolio__img"></a>
    </li>
    <li class="portfolio__item">
      <a href="http://nituji.tumblr.com/" target="_blank" class="portfolio__link">Nituji</a>
      <a href="http://nituji.tumblr.com/" target="_blank" class="portfolio__link--img"><img src="img/nituji.jpg" alt="Nituji - Tumblr theme" class="portfolio__img"></a>
    </li>
    <li class="portfolio__item">
      <a href="http://009scriber.tumblr.com/" target="_blank" class="portfolio__link">Scriber</a>
      <a href="http://009scriber.tumblr.com/" target="_blank" class="portfolio__link--img"><img src="img/scriber.jpg" alt="Scriber - Tumblr theme" class="portfolio__img"></a>
    </li>
    <li class="portfolio__item">
      <a href="http://008geometria.tumblr.com/" target="_blank" class="portfolio__link">Geometria</a>
      <a href="" target="_blank" class="portfolio__link--img"><img src="http://placehold.it/700x100" alt="" class="portfolio__img"></a>
    </li>
    <li class="portfolio__item">
      <a href="http://010lexicon.tumblr.com/" target="_blank" class="portfolio__link">Tmypest</a>
      <a href="" target="_blank" class="portfolio__link--img"><img src="http://placehold.it/700x100" alt="" class="portfolio__img"></a>
    </li>
<!--     <li class="portfolio__item">
      <a href="http://commontheory.com" target="_blank" class="portfolio__link">Common Theory</a>
    </li> -->
    <li class="portfolio__item">
      <a href="http://media.lamag.com/thefoodevent" target="_blank" class="portfolio__link">The Food Event 2015</a>
      <span class="portfolio__item-description">(primary developer, secondary designer)</span>
      <a href="http://media.lamag.com/thefoodevent/" target="_blank" class="portfolio__link--img"><img src="img/foodevent.jpg" alt="The Food Event 2015" class="portfolio__img"></a>
    </li>
    <li class="portfolio__item">
      <a href="http://media.lamag.com/tacos" target="_blank" class="portfolio__link">L.A.'s 25 Best Tacos</a>
      <span class="portfolio__item-description">(primary developer, secondary designer)</span>
      <a href="http://media.lamag.com/tacos/" target="_blank" class="portfolio__link--img"><img src="img/tacos.jpg" alt="L.A.'s 25 Best Tacos" class="portfolio__img"></a>
    </li>
    <li class="portfolio__item">
      <a href="http://media.lamag.com/theverge/" target="_blank" class="portfolio__link">L.A. On The Verge</a>
      <span class="portfolio__item-description">(primary developer, secondary designer)</span>
      <a href="http://media.lamag.com/theverge/" target="_blank" class="portfolio__link--img"><img src="img/laontheverge.jpg" alt="L.A. On The Verge" class="portfolio__img"></a>
    </li>
    <li class="portfolio__item">
      <a href="http://media.lamag.com/maps/secretla/" target="_blank" class="portfolio__link">Secret L.A.</a>
      <span class="portfolio__item-description">(primary developer, secondary designer)</span>
      <a href="http://media.lamag.com/maps/secretla/" target="_blank" class="portfolio__link--img"><img src="img/secretla.jpg" alt="Secret L.A." class="portfolio__img"></a>
    </li>


  </ul>

</section>

<section class="row" id="about">
  <h3 class="row__title">About</h3>
</section>

<section class="row" id="connect">
  <h3 class="row__title">Connect with me</h3>

  <ul class="contact-info">

    <li class="contact-info__item">
      <a href="https://twitter.com/ozy_wuli" class="contact-info__link">
        <div class="contact-info__icon"><%= partial "partials/twitter-round" %></div>
        <div class="contact-info__body">
          <div class="contact-info__type">Twitter</div>
          <div class="contact-info__name">@ozy_wuli</div>
        </div>
      </a>
    </li>

    <li class="contact-info__item">
      <a href="mailto:ozy.wu.li@gmail.com" class="contact-info__link">
        <div class="contact-info__icon"><%= partial "partials/email-round" %></div>
        <div class="contact-info__body">
          <div class="contact-info__type">Email</div>
          <div class="contact-info__name">ozy.wu.li@gmail.com</div>
        </div>
      </a>
    </li>

    <li class="contact-info__item">
      <a href="https://github.com/ozywuli" class="contact-info__link">
        <div class="contact-info__icon"><%= partial "partials/github-round" %></div>
        <div class="contact-info__body">
          <div class="contact-info__type">Github</div>
          <div class="contact-info__name">ozywuli</div>
        </div>
      </a>
    </li>

    <li class="contact-info__item">
      <a href="http://codepen.io/ozywuli/" class="contact-info__link">
        <div class="contact-info__icon"><%= partial "partials/codepen" %></div>
        <div class="contact-info__body">
          <div class="contact-info__type">CodePen</div>
          <div class="contact-info__name">ozywuli</div>
        </div>
      </a>
    </li>

    <li class="contact-info__item">
      <a href="http://ozywoolee.tumblr.com" class="contact-info__link">
        <div class="contact-info__icon"><%= partial "partials/flickr" %></div>
        <div class="contact-info__body">
          <div class="contact-info__type">Flickr</div>
          <div class="contact-info__name">ozywuli</div>
        </div>
      </a>
    </li>

    <li class="contact-info__item">
      <a href="http://ozywoolee.tumblr.com" class="contact-info__link">
        <div class="contact-info__icon"><%= partial "partials/tumblr-round" %></div>
        <div class="contact-info__body">
          <div class="contact-info__type">Tumblr</div>
          <div class="contact-info__name">ozywoolee</div>
        </div>
      </a>
    </li>

  </ul>
</section>