---
title: Index
---

<section class="billboard">
  <h2 class="page-title">Interactive Designer and Developer</h2>
  <p>Hello, my name is Ozy. I seek to help make the web a more useful, accessible, and enjoyable place for all. <a href="portfolio" target="_blank">Check out my work</a>. Currently employed full-time at <a href="http://lamag.com" target="_blank">Los Angeles magazine</a> but open to freelance projects or other collaborative work.</p>
  <p>Follow me on <a href="https://www.twitter.com/ozy_wuli" target="_blank">Twitter</a> or send me an <a href="mailto:ozy.wu.li@gmail.com">email</a>.</p>
</section>


<section class="row portfolio">
  <h3 class="row__title">Portfolio</h3>

  <ul class="portfolio__list">


    <li class="portfolio__item">
      <a href="http://lab.ozywuli.com/dataviz" class="portfolio__link">Maps</a>
    </li>
    <li class="portfolio__item">
      <a href="http://lab.ozywuli.com/dataviz" class="portfolio__link">DataViz</a>
    </li>
    <li class="portfolio__item">
      <a href="http://009scriber.tumblr.com/" class="portfolio__link">Fotocon</a>
    </li>
    <li class="portfolio__item">
      <a href="http://009scriber.tumblr.com/" class="portfolio__link">Minimallum</a>
    </li>
    <li class="portfolio__item">
      <a href="http://commontheory.com" class="portfolio__link">Common Theory</a>
    </li>
    <li class="portfolio__item">
      <a href="http://media.lamag.com/foodevent" class="portfolio__link">Food Event 2015</a>
    </li>
    <li class="portfolio__item">
      <a href="http://lab.ozywuli.com/yunshu" class="portfolio__link">Yunshu</a>
    </li>
    <li class="portfolio__item">
      <a href="http://media.lamag.com/tacos" class="portfolio__link">25 Best Tacos In L.A.</a>
    </li>
    <li class="portfolio__item">
      <a href="http://media.lamag.com/theverge/" class="portfolio__link">L.A. On The Verge</a>
    </li>
    <li class="portfolio__item">
      <a href="http://media.lamag.com/maps/secretla/" class="portfolio__link">Secret L.A.</a>
    </li>
    <li class="portfolio__item">
      <a href="http://nituji.tumblr.com/" class="portfolio__link">Nituji</a>
    </li>
    <li class="portfolio__item">
      <a href="http://009scriber.tumblr.com/" class="portfolio__link">Scriber</a>
    </li>

  </ul>

</section>

<section class="row">
  <h3 class="row__title">Say hello</h3>

  <ul class="contact-info">

    <li class="contact-info__item">
      <a href="https://twitter.com/ozy_wuli" class="contact-info__link">
        <div class="contact-info__icon"><%= partial "partials/twitter-round" %></div>
        <div class="contact-info__body">
          <div class="contact-info__type">Twitter</div>
          <div class="contact-info__name">@ozy_wuli</div>
        </div>
      </a>
    </li>

    <li class="contact-info__item">
      <a href="mailto:ozy.wu.li@gmail.com" class="contact-info__link">
        <div class="contact-info__icon"><%= partial "partials/email-round" %></div>
        <div class="contact-info__body">
          <div class="contact-info__type">Email</div>
          <div class="contact-info__name">ozy.wu.li@gmail.com</div>
        </div>
      </a>
    </li>

  </ul>
</section>

<section class="row">
  <h3 class="row__title">Web presence</h3>

  <ul class="contact-info">

    <li class="contact-info__item">
      <a href="https://github.com/ozywuli" class="contact-info__link">
        <div class="contact-info__icon"><%= partial "partials/github-round" %></div>
        <div class="contact-info__body">
          <div class="contact-info__type">Github</div>
          <div class="contact-info__name">ozywuli</div>
        </div>
      </a>
    </li>

    <li class="contact-info__item">
      <a href="http://codepen.io/ozywuli/" class="contact-info__link">
        <div class="contact-info__icon"><%= partial "partials/codepen" %></div>
        <div class="contact-info__body">
          <div class="contact-info__type">CodePen</div>
          <div class="contact-info__name">ozywuli</div>
        </div>
      </a>
    </li>

    <li class="contact-info__item">
      <a href="http://ozywoolee.tumblr.com" class="contact-info__link">
        <div class="contact-info__icon"><%= partial "partials/flickr" %></div>
        <div class="contact-info__body">
          <div class="contact-info__type">Flickr</div>
          <div class="contact-info__name">ozywuli</div>
        </div>
      </a>
    </li>

    <li class="contact-info__item">
      <a href="http://ozywoolee.tumblr.com" class="contact-info__link">
        <div class="contact-info__icon"><%= partial "partials/tumblr-round" %></div>
        <div class="contact-info__body">
          <div class="contact-info__type">Tumblr</div>
          <div class="contact-info__name">ozywoolee</div>
        </div>
      </a>
    </li>

  </ul>
</section>