---
title: Index
---

<section class="billboard">
  <h2 class="page-title">Interactive Designer and Developer</h2>
  <p>Hello, my name is Ozy. I seek to help make the web a more useful, accessible, and enjoyable place for all. <a href="portfolio" target="_blank">Check out my work</a>. Currently employed full-time at <a href="http://lamag.com" target="_blank">Los Angeles magazine</a> but open to freelance projects or other collaborative work.</p>
  <p>Follow me on <a href="https://www.twitter.com/ozy_wuli" target="_blank">Twitter</a> or send me an <a href="mailto:ozy.wu.li@gmail.com">email</a>.</p>
</section>


<section class="row portfolio" id="portfolio">
  <h3 class="row__title">Portfolio</h3>


  <p class="small-text">* (primary developer, secondary designer)</p>

  <ul class="portfolio__list flex">

  <% data.portfolio.item.each do |f| %>
    <li class="portfolio__item">
      <a href="<%= f.url %>" target="_blank" class="portfolio__link"><%= f.title %></a>
      <a href="<%= f.url %>" target="_blank" class="portfolio__link--img"><img src="img/fake_300x300.png" data-src="<%= f.imgSrc %>" alt="<%= f.alt %>" class="portfolio__img"></a>
    </li>
  <% end %>

  </ul>

</section>

<section class="row" id="about">
  <h3 class="row__title">About</h3>
  <p>
    My full name is Oscar Wu-Li. You could call me Oscar, but I also go by my nickname Ozy. It doesn't matter much to me either way. I figure Ozy would be a tad bit more convenient because typing that out instead of my real name will save you two keystrokes.
  </p>


  <ul class="contact-info flex">
    <li class="contact-info__item">
      <a href="" class="resume contact-info__link">
        <div class="contact-info__icon"><%= partial "partials/resume" %></div>
        <div class="contact-info__body">
          <div class="contact-info__type">HTML</div>
          <div class="contact-info__name">View Resume</div>
        </div>
      </a>
    </li>
    <li class="contact-info__item">
      <a href="" class="resume contact-info__link">
        <div class="contact-info__icon"><%= partial "partials/cv" %></div>
        <div class="contact-info__body">
          <div class="contact-info__type">HTML</div>
          <div class="contact-info__name">View CV</div>
        </div>
      </a>
    </li>
  </ul>

  <p class="small-text">References available upon request</p>

</section>

<section class="row" id="connect">
  <h3 class="row__title">Connect with me</h3>

  <ul class="contact-info flex">
  <% data.connect.item.each do |f| %>
    <li class="contact-info__item">
      <a href="<%= f.url %>" class="contact-info__link">
        <div class="contact-info__icon"><%= partial "partials/" + f.logo %></div>
        <div class="contact-info__body">
          <div class="contact-info__type"><%= f.type %></div>
          <div class="contact-info__name"><%= f.name %></div>
        </div>
      </a>
    </li>
  <% end %>
  </ul>
</section>