---
title: Home
---

<div class="row">
    <h2 class="row__title">Featured Work</h2>
    <%= partial(:'partials/_blocks.erb', :locals => { :items => data.portfolio.items, :flag => 'featured' } ) %>

    <div class="btns">
        <%= partial(:'partials/_btn.erb', :locals => { :url => '/portfolio', :copy => 'Learn More', :arrow => true } ) %>
    </div>
</div>

<div class="row">
    <h2 class="row__title">About</h2>
    <div class="row__p">My full name is Oscar Wu-Li or <%= partial 'partials/_chinese-name.erb' %>. But I go by my nickname Ozy. </div>
    <p class="row__p">
    I was raised in San Diego, formally educated at UCLA, and now work and live in Los Angeles. I first learned how to program and design for the web by just using it and being curious. Before you know it, a hobby turned into a career. When I'm not making stuff for the web, I like to dabble in illustration, 3d modelling, and photography, just to name a few. Lately, I've been engrossed by the intersection between food, culture, and media.
    </p>

    <div class="cards">
        <%= partial(:'partials/_card.erb', :locals => { :type => 'HTML', :copy => 'View Resume', :url => '/resume', :icon => 'html' } ) %>
        <%= partial(:'partials/_card.erb', :locals => { :type => 'WORD DOC', :copy => 'View Resume', :url => '/assets/misc/oscar_ozy_wu_li_resume.doc', :icon => 'word' } ) %>
        <%= partial(:'partials/_card.erb', :locals => { :type => 'PDF', :copy => 'View Resume', :url => '/assets/misc/oscar_ozy_wu_li_resume.pdf', :icon => 'pdf' } ) %>
    </div>

    <div class="btns">
        <%= partial(:'partials/_btn.erb', :locals => { :url => '/about', :copy => 'Learn More', :arrow => true } ) %>
    </div>
</div>

<div class="row">
    <h2 class="row__title">Connect with me</h2>
    <div class="row__p">If you decide to message me for whatever reason, I'll do my best to respond within 24 hours.</div>
    <div class="cards">
        <% data.social.each do |key, item| %>
            <%= partial(:'partials/_card.erb', :locals => { :type => item.name, :copy => item.username, :url => item.url, :icon => item.svg, :border => true } ) %>
        <% end %>
    </div>
    <div class="btns">
        <%= partial(:'partials/_btn.erb', :locals => { :url => '/contact', :copy => 'Learn More', :arrow => true } ) %>
    </div>
</div>


<div class="row">
    <h2 class="row__title">Colophon</h2>
    <div class="row__pees">
        <p class="row__p"> This website is built with the help of <a href="http://middlemanapp.com/" target="_blank">Middleman</a>, a Ruby powered static website generator that provides a host of useful features to speed up, maintain, and automate the front end web development workflow.</p>
        <p class="row__p mod-no-mb">Fonts used is <a href="https://fonts.google.com/specimen/Roboto" target="_blank">Roboto</a>, served by Google Fonts.</p>
    </div>
</div>