---
title: Portfolio
---


<div class="portfolio-page">
    <p>Here you can see a few of my projects from the past few years.</p>

    <hr>

    <% data.portfolio.items.each do |item| %>
    <div class="row">
        <div class="portfolio-item">
            <div class="portfolio-item-meta">
                <h2 class="portfolio-item-title">
                    <a 
                        href="<%= item.url %>" 
                        class="portfolio-item-link" 
                        target="_blank"
                    >
                        <%= item.title %>
                        <%= svg('external-link') %>
                    </a>
                </h2>
                <p><%= item.description %></p>
            </div>
            
            <div class="portfolio-item-images">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <%# https://forum.middlemanapp.com/t/children-of-a-specified-directory/903 %>
                        <% sitemap.resources.select do |resource, index| %>
                            <% if resource.path.start_with?("assets/images/portfolio/#{item.id}") %>  
                            <div class="swiper-slide">
                                <div 
                                    class="portfolio-item-img"
                                    style="background-image: url('/<%= resource.path %>')"
                                >
                                    <a 
                                        href="#" 
                                        class="portfolio-item-open js-modalx-open"
                                        data-id="<%= item.id %>-<%= index %>"
                                        data-img="/<%= resource.path %>"
                                    ></a>
                                </div>
                            </div>
                            <% end %>
                        <% end %>

                    </div>
                </div>
            </div>
        </div>
    </div>    
    <% end %>

</div>

<div 
    class="modalx js-modalx-target"
>
    <a 
        href="#" 
        class="modalx-close js-modalx-close"
    >
        <%= svg('close-button') %>
    </a>

    <div class="modalx-container">
        <div class="modalx-content js-modalx-content"></div>
    </div>
</div>


