---
title: Portfolio
---

<div class="portfolio-page">
    <p>Here you can see a few of my projects from the past few years.</p>

    <hr>

    <% data.portfolio.items.each do |item| %>
    <div class="row">
        <div class="portfolio-item">
            <div class="portfolio-item-meta">
                <h2 class="portfolio-item-title">
                    <a 
                        href="<%= item.url %>" 
                        class="portfolio-item-link" 
                        target="_blank"
                    >
                        <%= item.title %>
                    </a>
                </h2>
                <p><%= item.description %> <a href="#">Learn more</a></p>
            </div>
            
            <div class="portfolio-item-images">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <% item.images.each_with_index do |image, index| %>
                            <div class="swiper-slide">
                                <div 
                                    class="portfolio-item-img"
                                    style="background-image: url(<%= image.url %>)"
                                >
                                    <a 
                                        href="#" 
                                        class="portfolio-item-open js-modalx-open"
                                        data-id="<%= item.id %>-<%= index %>"
                                        data-img="<%= image.url %>"
                                    ></a>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <% end %>

</div>

<div 
    class="modalx js-modalx-target"
>
    <a 
        href="#" 
        class="modalx-close js-modalx-close"
    >
        <%= svg('close-button') %>
    </a>
</div>


